// Spice Vendor Prefix overides
// --------------------
$defaultVendors   : "";
$animationVendors : "";
$transformVendors : "";

$primary: $col-river-blue;
$secondary: $col-amethyst;

@include normalise;
@include googleFont('roboto', body button input);

body {
	@include verticalRhythm;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color:$primary;
}

.centre {
	text-align: center;
	@include centre;
}

.small {
	@include fontSize(14px);
}
