// Spice Vendor Prefix overides
// --------------------
$defaultVendors   : "";
$animationVendors : "";
$transformVendors : "";

$primary: $col-river-blue;
$secondary: $col-amethyst;

@include normalise;
@include googleFont('roboto', body button input);

body {
	//background-color:#000;
	color:$primary;
	@include verticalRhythm;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}

.centre {
	@include centre;
}

@include containerClass(1280px);
